@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('font/ProximaNova-Regular.otf') format('woff');}

body {
    /*background: url("img/background.png");*/
    padding: 52px 0;
    background: url("img/background2.png");

}

#accordion {
    background: url("img/background_content.png");
    border: 1px solid #181e26;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px #727272, 0 0 11px 3px #A7A7A1;
    box-shadow: 0 0 20px 0px #000000, 0 0 3px 1px #7c7c7c;
    margin: 0 auto;
    width: 218px;


}

#accordion1 { /*use css3ps*/
    width: 220px;
    height: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #262e37;
    -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.15), 0 0 20px #000, inset 0 2px rgba(255,255,255,.07);
    -moz-box-shadow: 0 0 0 3px rgba(0,0,0,.15), 0 0 20px #000, inset 0 2px rgba(255,255,255,.07);
    box-shadow: 0 0 0 3px rgba(0,0,0,.15), 0 0 20px #000, inset 0 2px rgba(255,255,255,.07);
    border: solid 1px #181e26;
    margin: 0 auto;
}

.level {

}

.level1 {
    background: url("img/background_category-mini.png") #3b3f4b;
    border-bottom: 1px solid #181e26;
    box-shadow: inset 0 1px 0 #535353;
    color: #c9d1e3;
    cursor: pointer;
    overflow: hidden;
}

.level1:hover {
    background: #2f3238;
}

.level1:active {
    background: #535862;
}

.level:first-child .level1 {
    border-radius: 3px 3px 0 0;
}

.level:last-child .level1 {
    border-radius: 0 0 3px 3px;
    border: 0;
}

.level2 {
    /*display: none;*/
}

.level3:first-child {
    /*padding: 16px;*/
}

.level3 {
    margin: 16px;
    overflow: hidden;
}

.icon-level3 {
    margin: 0 16px 0 0;
}

.level3-text {
    color: #798ea1;
    cursor: pointer;
    font-family: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.level3-text:hover {
    color: #c9d1e3;
}

.icon {
    margin: 11px 10px 10px 11px;
}

.level1-text {
    font: 16px 'ProximaNova-Regular';
    margin: 11px 0;
    text-shadow: 1px 1px 2px black;
}

.nmb-messages {
    background-color: #464c5a;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
    background-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(255,255,255,.1));
    box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /*height: 20px;*/
    margin: 9px 16px;
    padding: 3px 0 4px 0;
    text-align: center;
    width: 30px;
}

.nmb-messages div {
    font-family: HelveticaNeue;
    font-size: 11px;
    font-weight: bold;
    color: #a8c2d8;
    text-shadow: 1px 1px rgba(0,0,0,.4);
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}